{% for repo in pg_backrest_repos['config'] | default([]) %}
{% set i = loop.index %}
[global]
{% for key, value in repo.items() %}
repo{{ i }}-{{ key }}={{ value }}
{% endfor %}

{% endfor %}
{% for key, value in pg_backrest_repos['extra'].items() %}
{{ key }}={{ value }}
{% endfor %}

{% for stanza_name, stanza in pg_backrest_stanzas.items() %}
[{{ stanza_name }}]
{% for config in stanza['config'] | default([]) %}
{% set i = loop.index %}
{% for key, value in config.items() %}
pg{{ i }}-{{ key }}={{ value }}
{% endfor %}

{% endfor %}
{% for key, value in stanza.get('extra', {}).items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}